*
{
    font-family: 'Ubuntu', sans-serif;
}

/******** header nav styles *******/
.nav
{
    font-weight:100;
    background:#F7FAFF;
}

.nav button
{
    background-color:#4C84DB;
    padding:6px 18px;
}

.nav-header-logo
{
    color:#4C84DB;
    float:left;
    margin-top:15px;
    margin-right:10px;
}

.nav-header-text
{
    margin-top:0px;
    float:left;
}


.nav-header-text h1
{
    color:#2B559E;
    font-size:28px;
    font-weight:500;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(min-width: 768px)
{
    .navbar-nav 
    {
        float: right;
    }

    .navbar-form
    {

        margin-left: 60px;
    }
}



.navbar-default .navbar-nav > li > a {
    color: #3D7BDD;
}


/******** end header nav styles *******/



/******** slider header styles *******/
.carousel-static
{
    margin-top:100px;            
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}


/*********************************************/
.page-header
{
    padding:0px 18px 0px 18px;
    border:none;
}

.page-header h2
{
    color:#142D60;
    font-weight:300;
}

.page-header small
{
    color:#2E59D9;
}


.panel-icon img
{
    width: 33px;
    padding-right: 3px;
}

.thumbnail {
    background:#F3F8FF;
    padding: 0px 3px;
    margin:3px;
    position:relative;
    overflow:hidden;
    border:1px solid #84A9DA;
}

.thumbnail h4
{
    font-size:13px;
    font-weight:300;
    color:#2E59D9;
}

.thumbnail button
{
    border:1px solid #84A9DA;
    color:#4C84DB;
        margin-bottom:5px;
}

.thumbnail-comite
{
    padding:5px;
}
.thumbnail p
{
    color:#2B559E;
    font-size:12px;
    font-weight:100;
}


.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(94, 145, 223, 0.85);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;

}

.thumbnail .caption {
    padding-top: 25px;
    padding-right:50px;
}

.caption i
{

    color:#fff;
}

.caption a
{
    color:#fff;
    text-decoration:none;
}

.thumbnail:hover .caption {
    top:0%;
}


.thumbnail:hover .caption a
{
    position: absolute;
    top:50%;
    bottom:50%;
}





/******************************************************************/
.panel-icon i
{
    color:#016cf0;
}


.thumbnail-books
{
    padding: 0px;
}

.thumbnail-text
{
    font-size: 11px;
}

.thumbnail-text strong
{
    color:#2B559E;
}
.thumbnail-text span
{
    font-weight: 100;
    color: #3D7BDD;
}
.thumbnail-titulo h4
{
    color:#2B559E;
    font-size:15px;
}


.thumbnail-books .categoria 
{
    position:absolute;
    bottom:220px;
}

.thumbnail-books .ano 
{
    position:absolute;
    bottom:30px;
}


/*********  LIBROS RECOMENDADOS  ***********/




.thumbnail-books {
    background:#F3F8FF;
    padding: 0px 0px;
    margin:0px;
    position:relative;
    overflow:hidden;
}


.caption-books {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(94, 145, 223, 0.85);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;

}

.thumbnail-books .caption-books
 {
    padding-top: 35px;
    padding-right:50px;
}

.caption-books i
{

    color:#fff;
}

.caption-books a
{
    color:#fff;
    text-decoration:none;
}

.thumbnail-books:hover .caption-books {
    top:0%;
}

.thumbnail-books:hover .caption-books a
{
    position: absolute;
    top:50%;
    bottom:50%;
}



.thumbnail-titulo
{
    margin-bottom:30px;
}

.thumbnail-titulo h4
{
    color:#2E59D9;
}






/************** FOOTER **************/



/****** set column ******/
.col-lg-3,.col-md-3,.col-sm-6,.col-xs-12
{
    padding-right: 0px !important; 
}
/***********************/
.bg-light-gray {
    background-color: #eee;
}

#books-galery
{
    margin-top:40px;
}


.footer
{
    font-weight: lighter;
    display:flex;
    margin-top:50px;
    height:250px;
    background:#EEF5FE;
    border-top:1px solid  #84A9DA;
    padding: 5px 0;
}

.footer-enlaces
{
    font-size:14px;
    padding-top:50px;
}

.footer-enlaces ul
{
    margin-left: -38px;
    list-style:none;
}

.footer-enlaces li
{
    padding-bottom:10px;
}

.footer-enlaces p
{
    color: #3D7BDD;
    
}

.footer-logos
{
    padding-top:40px;
}


.footer-search 
{
    margin-top:160px;
}


@media(max-width: 986px)
{
    .footer-search 
    {
        display:none;
    }
}


@media(max-width: 768px)
{
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse 
    {
        margin-right: 0px; 
        margin-left: 0px; 

    }

    .navbar-form
    {
        margin-top: 0px; 
        margin-right: 0px; 
        margin-bottom: 0px; 
        border-bottom: none; 
    }

    
    .nav-header-logo 
    {
        display:none;
    }

    .nav-header-text
    {
        display:none;
    }

}


